body{
  font-family: Arial, sans-serif;
  text-align: center;
  background: #000000;
}
button{
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  background: #676767;
}
p{
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
}